// appheader
$appheader-bg-color: #fff;
$appheader-box-shadow: 0 1px 0 0 #edeeee;
$appheader-link-fs: 1.75em;

// responsive dropdown toggle
$toggle-hover-color: #27C183;

// appheader user
$user-fs: 1.25em;
$user-fw: 400;
$user-icon-color: rgba(0, 0, 0, .5);
$user-menu-fs: .75em;
