// body
$body-bg-color: #fafafa;
$body-font-family: 'SFUIDisplay', sans-serif;

// links
$link-active-color: rgba(0, 0, 0, .9);
$link-color: #000;

// input placeholder
$input-placeholder-color: #adadad;

// boxes
$box-background-color: #ffffff;
$box-border-radius: 2px;
$box-fs: 1em;
$box-heading-color: #000000;
$box-see-all-color: #818488;
$box-see-all-fs: 1em;
$box-shadow: 0 0 0 1px #edeeee;
