<main class="feed" role="main">
  <h2 class="feed-header">Feed</h2>
  <div class="feed-container">
    <div class="feed-item">
      <h3>Feed Item</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis fermentum, ipsum eu mollis consequat, erat magna dapibus turpis, sit amet efficitur magna sem id tortor. Pellentesque quis velit tellus. Nunc ante arcu, molestie vel erat ac, ultricies hendrerit arcu. Aliquam erat volutpat. Duis eleifend imperdiet volutpat. Vestibulum porta condimentum ante, sed tristique lorem condimentum vel. In dictum lectus lobortis erat feugiat sollicitudin. Sed dapibus enim eget mattis fermentum. Nulla non sem condimentum, placerat purus id, tempus augue. Maecenas est magna, pulvinar vel lectus ut, tempor cursus arcu. Quisque quis odio nisi. Etiam vel molestie ipsum. Cras sed est sed quam consectetur mattis. Etiam dictum venenatis dui non tempus. Vivamus semper sagittis orci quis faucibus.
      </p>
    </div>
  </div>
</main>
