<header class="appheader" role="banner">
  <nav
    class="navbar navbar-default navbar-fixed-top appheader-nav"
    role="navigation"
  >
    <div class="appheader-wrapper">
      <a href="" class="appheader-brand">
        <img src="./app-header-images/logo-sm.png" alt="uSTADIUM">
      </a>
      <div class="appheader-right" ng-if="$ctrl.user">
        <span class="user">{{$ctrl.user.nickname}}</span>
        <span uib-dropdown>
          <a href=""  class="user-menu" uib-dropdown-toggle>
            <i class="glyphicon glyphicon-chevron-down"></i>
          </a>
          <ul class="dropdown-menu" uib-dropdown-menu>
            <li>
              <a href="" ng-click="$ctrl.logout()">Logout</a>
            </li>
          </ul>
        </span>
      </div>
    </div>
  </nav>
</header>
