// cta
$cta-color: rgba(0, 0, 0, .5);
$cta-fs-sm: .75em;
$cta-fs: 1em;

// form button
$form-btn-bg-hover: #000;
$form-btn-bg: #fff;
$form-btn-border-radius: 100px;
$form-btn-border-color: #000;
$form-btn-color-hover: #fff;
$form-btn-color: #000;
$form-btn-fs-md: 1em;
$form-btn-fs: .75em;

// error messages
$error-color: rgba(0, 0, 0, .5);
$error-fs: .75em;

// submission failure messages
$fail-color: rgba(250, 0, 0, .7);

// inputs
$input-border-color: #d4d4d4;
$input-border-color-focus: #4990e2;

// submission confirmation messages
$confirmation-fs: .75em;
