$password-reveal-color: rgba(0, 0, 0, .5);

.password-reveal {
  bottom: 25px;
  float: right;
  position: relative;
  right: 25px;

  &:hover {
    cursor: pointer;
  }

  i {
    color: $password-reveal-color;
  }
}
